# Dart/Flutter
.dart_tool/
.packages
build/
*.iml
*.log
local.properties
.idea/
.vscode/
android/local.properties
android/.gradle/
android/key.properties
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Pods/
macos/.symlinks/
macos/Flutter/ephemeral/
macos/Pods/
*.g.dart
*.freezed.dart
